:root {
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}
body {
  background-color:  rgba(0, 214,214);
}
html{
  font-size: 70%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  min-width: 320px;
}
header {
  width: 100%;
  padding: .6rem 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 214, 214);
  box-shadow: var(--box-shadow);
  z-index: 3;
}
/* navbar */
.navbar-brand img {
  width: 190px;
  height: 140px;
  position: fixed;
  top:0;
  left: 0;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  color:#ffffff !important; 
}
.btn {
  background-color: rgb(255, 184, 0);
  width:11rem;
  border-radius: 1.5rem;
  margin: 0 auto;
  color: #000 !important;
}
.btn:hover{
  background-color: rgb(232, 167, 1);
}
.navbar-nav{
  align-items: end;
  text-align: center;
}
.navbar-nav li{ 
  width: 10rem;
}
/* MAIN */
main {
  width: 100%;
  padding: 30px 6vw;
}

@media(max-width:660px) {
  html {
    font-size: 60%;
  }

  .navbar-brand img{
    width: 130px;
    height: 90px;
  }
}


/*Container*/
.container {
  width: 100%;
}

.clase1 h1{
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 3px 3px 4px var(--color-text);
}
.parrafo1{
  height: auto;
  background: linear-gradient(#fff, #d3d3d3);
  border-radius: 3rem;
  box-shadow: 0 .3rem .9rem rgba(0, 0, 0, .5);
  padding: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}


.parrafo1 p{
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  text-indent: -3vw;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 1);
  font-size: 6vw;
  text-align: center;
  color:rgb(7, 1, 1);
}

.imagenAranceles {
  position: relative;
  width: 40vw;
  top: 30%;
  left: 30%;
  border-radius: 10%;
  box-shadow: 0.3vw 0.3vw 0.4vw #070606;
  margin: 3rem 0;

}
.promos {
  height: auto;
  background: linear-gradient(#fff,#51040c);
  border-radius: 3rem;
  box-shadow: 0 .3rem .9rem rgba(0, 0, 0, .5);
  padding: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.promos h2{
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  position: relative;
  top: 10%;
  left:40%;
  text-indent: -3vw;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 1);
  font-size: 4vw;
}
.promos h3{
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  position: relative;
  top: 10%;
  left:40%;
  text-indent: -3vw;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 1);
  font-size: 4vw;
}

.promos p{
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  position: relative;
  top: 10%;
  left:20%;
  text-indent: -3vw;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 1);
  font-size: 3vw;
  color:rgb(7, 1, 1);
}


/*FOOTER*/
.footer{
  background: black;
  width: 100%;
  height: 200px;
  text-align: center;
  
}

.footer h3{
  color: #ffffff;
  padding-top: 30px
}

.footer p{
  color: #ffffff;
  font-size: 13px;
}

.footer a{
  text-decoration: none;
}

.icon-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands{
  font-size: 35px; 
  margin: 10px;
  background: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.fa-instagram{
  background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
  color: #ffffff;
}

.fa-instagram:hover{
  color: black;
}

.fa-facebook{
  color: #1E4595;
}

.fa-facebook:hover{
  background: #1E4595;
  color: #ffffff;
}

.fa-twitter:hover{
  background: linear-gradient(to right top, #42a9ec, #358de6);
  color: #ffffff;
}

.fa-twitter{
  color: #358de6;
  background-color: #ffffff;
}

/* MEDIA QUERY */

@media only screen and (max-width:950px){
  header {
    padding: 8% 0 0 0;
  }
.logo{
    width:30%;
}

.footer{
  padding:4% 0;
}
.footer h3{
  color: #ffffff;
  font-size: 3.5vw;
}
.footer p{
  color: #ffffff;
  font-size: 2.5vw;
}
.fa-brands{
  font-size: 4vw; 
  margin: 2vw;
  width: 6vw;
  height: 6vw;
}
} 