:root {
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1)
}
/* .primera,
.segunda,
tercera{
  display:none;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

html{
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(0, 214, 214);
  height: 100vh;
}
section:nth-child(even) {
  background-color: #000000;
}

header {
  width: 100%;
  padding: .6rem 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 214, 214);
  box-shadow: var(--box-shadow);
  z-index: 3;
}
.conteiner {
  height: 100vh;
  width: 95%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar */
.navbar-brand img {
  width: 190px;
  height: 140px;
  position: fixed;
  top:0;
  left: 0;
}
.nav-link {
  font-size: 1.5rem;
}
.nav-link:hover {
  font-size: 1.6rem;
}
.btn {
  background-color: rgb(255, 184, 0);
  width:120px;
  border-radius: 1.5rem;
}

/* fin navbar */

.circulo {
 position: absolute;
 right: 0;
 bottom: 0;
 width: 100%;
 padding-bottom: 50%;
 overflow: hidden;
 background-color: rgb(255, 184, 0);
 clip-path: circle(35% at 100% 100%);
} 
/* seccionprincipal */
.container-content{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  gap: 7rem;
}
.fondoImagen {
  width: 400px;
  height: 400px;
  background-color: rgba(148, 243, 255, 0.6);
  border-radius: 3rem;
  transform: rotate(20deg);
  z-index: 1;
  animation: light 4s linear infinite;
}

.imagenBailarines {
  position: absolute;
  width:600px;
  top:1rem;
  left: -6.5rem;
  transform: rotate(-20deg);
  z-index: 2;
  background: transparent;
  transition: .5s;
}

.imagenBailarines:hover {
  transform: scaleX(-1)
}
.containerLetras {
  display: flex;
  flex-direction: column;
  line-height: 1.12;
}

.containerLetras h1 {
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 1);
  font-size: 5rem;
}

.containerLetras p {
  text-indent: 3rem;
  font-size: 4rem;
  color: white;
}

.containerLetras a {
  font-size: 1.4rem;
}

/* fin seccion principal */

/* segunda seccion */
.conteiner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: 1rem;
}

.content {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 70%;
  padding: 1.5rem 1rem;
  border-radius: 2rem;
  line-height: 1.3;
  color: #eee;
}

.content h3 {
  font-size: 2rem;
  color: rgb(3, 145, 145);
}

.content h1 {
  font-size: 3.5rem;
  color:#666;
}

.fondoImagenDos {
  width: 500px;
  height:99vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
  transform: rotate(70deg);
  background-color: rgba(148, 243, 255, 0.6);
  border-radius: 3rem;
  animation: light 4s linear infinite;
  z-index: 3;
  gap:2rem;
}
.imagen {
  box-shadow: 0.3rem 0.3rem 0.4rem #454545;
  border-radius: .5rem;
  transform: rotate(-70deg);
  width: 11rem;
  height: 11rem;
}

/* fin segunda seccion */

/* tercera seccion */

.containerClases {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  border-radius: 3rem;
  justify-items: center;
  align-items: center;
  width:95%;
}

.item {
  width:400px;
  height: 450px;
  background-color: rgba(148, 243, 255, 1);
  border-radius: 3rem;
  box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.item h1 {
  text-decoration: underline;
  margin-bottom: .5rem;
  font-size: 2.2rem;
  text-align: center;
}

.item p {
  margin-top: .5rem;
  font-size: 1.6rem;
  text-transform: none;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}

.item p::before {
  content: 'Es';
}

.item p::first-letter,
.item p:last-child::after {
  font-size: 3rem;
  font-weight: bolder;
}

/*FOOTER*/
.footer {
  background: black;
  text-align: center;
  padding: 2% 0;
}

.footer h3 {
  color: #ffffff;
  font-size: 1.5vw;
}

.footer p {
  color: #ffffff;
  font-size: 1vw;
}

.footer a {
  text-decoration: none;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  font-size: 2vw;
  margin: 1vw;
  background: #fff;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.fa-instagram {
  background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
  color: #ffffff;
}

.fa-instagram:hover {
  color: black;
}

.fa-facebook {
  color: #1E4595;
}

.fa-facebook:hover {
  background: #1E4595;
  color: #ffffff;
}

.fa-twitter:hover {
  background: linear-gradient(to right top, #42a9ec, #358de6);
  color: #ffffff;
}

.fa-twitter {
  color: #358de6;
  background-color: #ffffff;
}

/* KEY FRAMES */

@keyframes light {
  0% {
    box-shadow: -1vw -1vw 1vw #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff;
  }

  25% {
    box-shadow: 0 0 0 #fff, 1vw 1vw 1vw #fff, 0 0 0 #fff, 0 0 0 #fff;
  }

  50% {
    box-shadow: 0 0 0 #fff, 0 0 0 #fff, 1vw 1vw 1vw #fff, 0 0 0 #fff;
  }

  100% {
    box-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, -1vw -1vw 1vw #fff;
  }

}

/* FIN KEYFRAMES */

/* MEDIA QUERY */
@media(max-width:992px) {

}
/* MEDIA 768PX */
@media(max-width:769px) {
  
  .circulo{
    background-color: red;
    top:0;
  }
  .fondoImagen {
    width: 230px;
    height: 230px;
  }
  .imagenBailarines {
    width: 350px;
    top: 0;
    left: -6rem;
  }
  .content{
    margin-top: 5rem;
  }
  .fondoImagenDos{
    width:500px;
    height:54vh;
  }
  .imagen{
    height: 12rem;
    width: 12rem;
  }
}

/* FIN MEDA 768PX */

/* media 46px */
@media(max-width:426px) {
  html {
    font-size: 60%;
  }
  .circulo{
    width: 100%;
    clip-path: circle(43% at right 100%);
  }
  .container-principal{
    justify-content: space-between;
  }

  .imagenBailarines {
    width: 270px;
    left: -6rem;
  }
  
  .fondoImagen {
    width: 170px;
    height: 170px;
  }
  .fondoImagenDos{
    transform: rotate(0);
    height: 70vh;
    align-content: stretch;
  }
  .imagen{
    transform: rotate(0);
    width:18.5rem;
    height:20rem;
  }
}

@media(max-width:376px) {

  .circulo{
    width: 100%;
    clip-path: circle(35% at right 100%);
  }
  .imagenBailarines {
    width: 390px;
    left:-9rem;
  }
  .containerLetras h1{
    font-size: 6rem;
  }
  .containerLetras p{
    font-size: 3rem;
  }
  .containerLetras a{
    font-size: 2rem;
  }
  .botonBailes {
    padding: 1rem 1.5rem;
    width: 10rem;
    color: black;
    
  }
  .fondoImagen {
    width: 75vw;
    height: 250px;
  }
  .container-principal{
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .fondoImagenDos{
    width: 95vw;

  }
  .imagen{
    width:12rem;
    height:12rem;
  }
}