* {
  padding: 0;
  margin: 0;
}
html{
  

  box-sizing: border-box;
}
a:hover{
  text-decoration: underline;
}
body {
  background-color: rgb(0, 214, 214);
}
header {
  padding: 4% 0 0 0;
}
.logo {
  width: 14%;
  position: absolute;
  top: 0.5vw;
}
nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: end;
  align-items: center;
}
nav li {
  margin-right: 2vw;
}
.botonBailes {
  background-color: #ffb800;
  border-radius: 1vw;
  padding: 0.3vw;
  width: 8vw;
  justify-content: center;
  color: black;
  text-decoration: none;
}
nav a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
}
.container {
  display: flex;
  position: relative;
  justify-content: center;
}

.fondoImagen {
  position: relative;
  padding: 14vw;
  top:6vw;
  left:-5vw;
  background-color: rgba(148, 243, 255, 0.6);
  border-radius: 12%;
  transform: rotate(20deg);
  z-index: -1;
  animation: light 4s linear infinite;
}

.containerLetras {
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  position: relative;
  top: -10%;
  left:10%;
}
.containerLetras h1 {
  text-indent: -3vw;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 1);
  font-size: 4vw;
}
.containerLetras p {
  text-indent: 3vw;
  font-size: 3vw;
  color:white;
}
.containerLetras a {
  text-align: center;
  margin-left: -2.5vw;
  margin-top: 1vw;
  font-size: 1.5vw;

}
.imagenBailarines {
  position: absolute;
  width: 33vw;
  top: 18%;
  left: -6%;
  transform: rotate(-28deg);
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.fondoImagenDos {
  margin-top: 10vw;
  transform: rotate(70deg);
  padding: 5vw;
  background-color: rgba(148, 243, 255, 0.6);
  border-radius: 12%;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,25%); 
  grid-gap: 5vw; 
  position: relative;
  top:4vw;
  animation: light 4s linear infinite;
}

.imagen {
  box-shadow: 0.3vw 0.3vw 0.4vw #454545;
  border-radius: 4%;
  transform: rotate(-70deg);
  width:11vw;
  height:11vw;
}
/* CONTAINERCLASES */

.tituloClases{
  text-transform: uppercase;
  display:flex;
  justify-content: center;
  margin:10vw 0 4vw 0;
}
.tituloh1{
  text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0,0.4);
  font-size: 2.5vw;
  background-color: white;
  border-radius: 0.5vw;
  padding:0.5vw;
  box-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0,0.6);
}

.containerClases{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  border:2px solid white;
  margin:0 0.5vw 4vw 0.5vw;
  border-radius: 1vw;
  background-color: black;
}

.item{
  padding:1vw;
  background-color: rgba(148, 243, 255, 1);
  border-radius: 1vw;
  margin:1.2vw;
  box-shadow: 0.5vw 0.5vw 0.6vw rgba(0, 0, 0,0.6);;
}
.item h1{
  text-decoration: underline;
  margin-bottom:0.7vw;
  font-size: 2vw;
  text-align: center;
} 
.item p{
  margin-top:1vw;
  font-size:1.5vw;
  text-align: justify;
}
.item p::before {
  content: '" ';
}
.item p::after {
  content: ' "';
}
/*FOOTER*/
.footer{
  background: black;
  text-align: center; 
  padding:2% 0;
}

.footer h3{
  color: #ffffff;
  font-size: 1.5vw;
}

.footer p{
  color: #ffffff;
  font-size: 1vw;
}

.footer a{
  text-decoration: none;
}

.icon-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands{
  font-size: 2vw; 
  margin: 1vw;
  background: #fff;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.fa-instagram{
  background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
  color: #ffffff;
}

.fa-instagram:hover{
  color: black;
}

.fa-facebook{
  color: #1E4595;
}

.fa-facebook:hover{
  background: #1E4595;
  color: #ffffff;
}

.fa-twitter:hover{
  background: linear-gradient(to right top, #42a9ec, #358de6);
  color: #ffffff;
}

.fa-twitter{
  color: #358de6;
  background-color: #ffffff;
}

/* KEY FRAMES */

@keyframes light {
  0% {
    box-shadow: -1vw -1vw 1vw #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff;
  }
  25% {
    box-shadow: 0 0 0  #fff, 1vw 1vw 1vw #fff, 0 0 0 #fff, 0 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff, 0 0 0  #fff, 1vw 1vw 1vw #fff, 0 0 0 #fff;
  }
  100% {
    box-shadow: 0 0 0 #fff, 0 0 0 #fff,  0 0 0 #fff, -1vw -1vw 1vw #fff;
  }
  
}

/* MEDIA QUERY */

@media only screen and (max-width:1200px){
  .logo{
    width:16%;
  }
  nav a{
    font-size:1.5vw;
  }
} 

@media only screen and (max-width:800px){
  .logo{
    width:18%;
  }
  nav a{
    font-size:1.8vw;
  }
} 





